* {
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #48555B;
	font-size: 16px;
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
}

h2 {
	text-transform: uppercase;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

	/* CHANGE THEME */

.theme-switch {
	display: flex;
	align-items: center;
}

.theme-switch input {
	width: 18px;
    height: 18px;
}

.night {
	background-color: #fefefe;
	filter: invert(100%);
}

.night img:not([src*=".svg"]), video {  
   filter: invert(100%);
}

	/*	HEADER	*/

.header {
	background: url(./img/header.jpg) no-repeat center top;
	padding-bottom: 768px;
	background-size: 100%;
}

	/*	HAVIGATION	*/

.navbar {
	height: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav a {
	color: #48555B;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1.1px;
}

.menu li a:hover {
	color: #00A4E5;
}

.menu li {
	margin-left: 30px;
}

	/*	ABOUT	*/

.about {
	margin-top: 58px;
	display: flex;
}

.about h2 {
	position: relative;
	font-size: 20px;
	letter-spacing: 2.3px;
	text-align: center;
	color: #48555B;
}

.about h2::after {
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 50px;
	background: #00A4E5;
	position: absolute;
	content: '';
	height: 2px;
	bottom: -10px; 
}

.description {
	display: flex;
}

.desc-text {
	flex-basis: 50%;
	padding-right: 57px;
	padding-top: 90px;
}

.desc-text span {
	color: #00A4E5;
}


.desc-text h3 {
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	letter-spacing: 0.1875px;
}

.desc-text p {
	margin: 30px 0 0 0;
}

.desc-photo {
	display: flex;
	flex-basis: 50%;
	padding-top: 100px;
}

.desc-photo img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.16);
}

.desc-photo img {
	width: 140px;
	height: 224px;
	margin-left: 20px;
}

.important {
	font-weight: 900;
}

/* Event Table */

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 16px;
	background: white;
	max-width: 80%;
	width: 80%;
	border-collapse: collapse;
	margin: 0 auto;
	text-align: left;
}

th {
	font-weight: normal;
	color: #039;
	border-bottom: 2px solid #6678b1;
	padding: 10px 8px;
}

td {
	border-bottom: 1px solid #ccc;
  	color: #669;
  	padding: 9px 8px;
  	transition: .1s linear;
}

tr:hover td {
	color: #6699ff;
}

	/* CHARACTERS */

.characters {
	display: flex;
	flex-wrap: wrap;
	cursor: grab;
}

.characters-tittle{
	text-align: center;
	margin-top: 30px;
}

.box-character {
	max-width: 18%;
	max-height: 400px;
	margin: 1%;
	padding: 10px 20px;
	border: 1px solid black;
	background-color: #D9D9D9;
}

.box-character .content {
	text-align: center;
}

.box-character .content p{
	margin: 5px;
}

.box-character img {
	width: 100%;
}

.alive {
	color: green;
}

.dead {
	color: red;
}

	/*	SERVICES	*/

.services {
	margin-top: 118px;
}

.serv-head {
	display: flex;
	margin-bottom: 75px;
}

.serv-head h2 {
	display: inline-flex;
	flex-grow: 1;
	position: relative;
	font-size: 20px;
	letter-spacing: 2.3px;
	text-align: center;
	color: #48555B;
}

.serv-head h2::after {
	left: 0;
	right: 0;
	width: 50px;
	background: #00A4E5;
	position: absolute;
	content: '';
	height: 2px;
	bottom: -1px; 
}

.serv-head p {
	width: 405px;
	font-size: 12px;
}

.serv-head a {
	width: 150px;
	height: 30px;
	margin-left: 30px;
	text-align: center;
	padding-top: 4px;
	background-color: #00A4E5;
	color: #fff;
	text-transform: uppercase;
}

.serv-boxes {
	display: flex;
	justify-content: space-between;
}

.box {
	width: 30%;
	padding: 40px 20px;
}

.box h3 {
	text-transform: uppercase;
	margin: 25px 0 15px 0;
}

	/*	NEWSLATTER	*/

.newslatter {
	background-color: #171819;
	padding: 50px 0 30px 0;
}

.newslatter-form {
	display: flex;
	justify-content: center;
}

.newslatter-form button {
	width: 150px;
	text-align: center;
	padding-top: 5px;
	background-color: #00A4E5;
	color: #fff;
	text-transform: uppercase;
	border: 0;
}

.newslatter-form h2 {
	font-weight: bold;
	font-size: 22px;
	margin-right: 70px;
	color: #FFFFFF;
	letter-spacing: 0.8px;
	text-transform: none;
}

.newslatter-form input {
	width: 250px;
	padding: 10px 15px;
}

.newslatter-form input:focus {
	outline: none;
}

	/*	FOOTER	*/

.footer {
	background-color: #141A20;
	color: #FFFFFF;
}

.footer-info {
	display: flex;
	padding: 40px 0;
	justify-content: space-between;
}

.footer-info h4 {
	margin-bottom: 15px;
	text-transform: uppercase;
}

.company {
	flex-basis: 35%;
}

.company p {
	font-size: 1.2em;
	font-weight: bold;
}

.company img {
	margin-bottom:15px;
}

.links {
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
}

.links-menu {
	display: flex;
	justify-content: space-between;
}

.links-menu a {
	color: #fff;
	text-transform: uppercase;
}

.links-menu a:visited { 
	color: #FFF; 
} 

.links-menu li {
	margin: 8px 0;
}

.contacts {
	display: flex;
	flex-direction: column;
}

.contacts a {
	margin-top: 10px;
	color: gold;
}

	/*	MEDIA REQUEST	*/

@media screen and (max-width: 1440px) {
	.header {
		background-size: auto;
	}
}


@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 720px;
	}

	.description {
		flex-wrap: wrap;
	}

	.desc-text {
		flex-basis: 100%;
		padding: 20px 0 0 0;
	}

	.desc-photo {
		flex-basis: 100%;
		padding-top: 40px;
		justify-content: center;
	}

	.services {
		margin-top: 70px;
	}

	.serv-head {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 540px;
	}

	.serv-head {
		margin-bottom: 0px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.serv-head h2 {
		flex-grow: 0;
		margin-bottom: 20px;
	}

	.serv-boxes {
		flex-wrap: wrap;
	}

	.box {
		flex-basis: 100%;
		padding: 20px 10px;
	}
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}

	.desc-photo {
		flex-wrap: wrap;
	}

	.navbar img {
		display: none;
	}

	.newslatter-form { 
		flex-wrap: wrap;
	}

	.newslatter-form h2 { 
		margin: 0;
	}

	.newslatter-form input { 
		margin: 10px 0;
	}

	.footer-info { 
		flex-wrap: wrap;
	}

	.company, .links, .contacts {
		flex-basis: 100%;
		margin-bottom: 35px;
	}
}
